.data-wrapper {
  width: 839px;
  height: 264px !important;
  background-color: #fff;
  /* display: flex; */
  padding: 10px;
  border-radius: 8px;
}
@media (max-width: 400px) {
  .data-wrapper {
    width: 100%;
  }
}
@media (min-width: 401px) and(max-width: 800px) {
  .data-wrapper {
    width: 100%;
  }
}
.data-wrapper .title {
  font-size: 14px;
  font-weight: 400;
  line-height: 12.9px;
  margin: 10px 10px 0px 10px !important;
}
.data-wrapper .chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-wrapper .chart-header .dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #1c1c28;
  background-color: #e8e8e8;
  width: 67.37px;
  height: 30.28px;
  border-radius: 8.07px;
}
.data-wrapper .dropdown {
  display: flex;

  align-items: center;
  gap: 3px;
  margin-right: 10px;
}
.data-wrapper .dropdown p {
  font-size: 14px;
  color: #99a1b7;
  font-weight: 400;
}
.demo-chart {
  width: 100%;
  height: 100%;
}
