.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.main {
  margin: 40px auto 10px auto;
  width: 1277px;
  padding: 10px;
}
@media (max-width: 400px) {
  ::ng-deep app-main-chart,
  ::ng-deep app-card {
    width: 100%;
  }

  .main-header {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main {
    width: 100%;
    padding: 3px;
    margin: 20px 0px;
    overflow-y: auto;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  app-main-chart,
  app-card {
    width: 100%;
  }

  .main-header {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main {
    width: 100% !important;
    padding: 3px;
    margin: 20px 0px;
  }
}
